ANDROID_HOME=/home/Library/Android/sdk
ANDROID_KEYSTORE_PATH=/repo/padelbuddy-web/mobile/android/padelbuddy-release.jks
ANDROID_KEYSTORE_PASSWORD=<password>
ANDROID_KEY_PASSWORD=<password>
ANDROID_KEY_ALIAS=padelbuddy
ANDROID_RELEASE_TYPE=AAB
