.routeShell {
  position: relative;
  min-height: 100vh;
}

.routeViewport {
  min-height: 100vh;
}

.loaderContainer {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}
