.card {
  border-radius: var(--component-card-panel-radius);
  background-color: var(--component-card-panel-background);
  border: 2px solid var(--component-card-panel-border);
}

.accentPrimary {
  border-color: var(--semantic-color-border-accent-primary);
}

.accentSecondary {
  border-color: var(--semantic-color-border-accent-secondary);
}
